@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.miFuente {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.miFuenteBold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;

}

[class^="number-slide"],
[class*=" number-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}


@media only screen and (max-width: 600px){
   
    .recuadroRes {
        position: absolute;
        top: 15% !important;
        left: 5%;
        right: 5%;
    }
   
    .textoRes{
        font-size: 13px;
    }
    .fuenteRes{
        font-size: 18px;
    }
    .logoRes{
        height: 70px ;
        width: 120px;
    }
    .image{
        height: 40vh !important;
    }
    .titHomeResp{
        font-size: 13px;
    }
   
    .cardResp{
      display: block !important;
      
    }
    .iconResp{
        width: 40px;
    }

    .footerResp{
        display: block !important;
    }
    .perfilResp{
        display: block !important;
        border-radius: 50%;
        
    }
    .fotosResp{
        display: block !important;
        width: 30% !important ;
    
    }
    .imgProducts{
        width: 350px;
    }

    .botRes{
        margin-top: 7% !important;
    }
 

    
   
}
@media only screen and (max-width: 400px){
   
    .logoRes{
        height: 60px ;
        width: 100px;
    }
 
    .textoFooterResp{
        text-align: center;
    }
    .logossnResp{
        width: 280px;
        align-items: center;
    }
    .imgProducts{
        width: 250px;
    } 
    
}


@media only screen and (max-width: 2000px){

    .recuadroRes {
        position: absolute;
        top: 30%;
        left: 10%;
        right: 10%;
        width: full;
    }
  
    .image{
        height: 100vh;
    }
    .cardResp{
        display: flex;
    }
    .perfilResp{
        border-radius: 50%;
        width: 100%;
        height: auto;
        
    }
    .fotosResp{
        display: flex;
        justify-content: center;
        height: auto;
        width: 50%;
    }
    .recuadroResPro {
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
        width: full;
    }
  
}
.number-slide1 {}

.number-slide2 {}

.number-slide3 {}

.number-slide4 {}

.number-slide5 {}

.number-slide6 {}

/* @font-face {
    font-family: 'MiFuente';
    src: url('../public/fonts/MiFuente.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 
      .recuadroResPro{
        position: absolute;
        top: 20%;
        left: 10%;
        right: 10%;
        width: full;
    }*/
    /* .recuadroResPro{
        position: relative;
        max-width: 300px;
    }*
    
    